@import '../../base';
.constructWrapper {
    border: 1px solid $border-color;
    min-height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
    padding: 2rem!important;
}

.logo_text {
    color: #F27023;
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 4.25rem;
}

.underconstruction {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.welcome-text {
    font-size: 1.5rem!important;
}

@media all and (max-width: 750px) {
   .underconstruction {
    display: none;
   }
}

.gap {
    gap: 5rem;
}